nav {
}

nav > ul {
  display: flex;
  flex-direction: row;
}

nav > ul > li {
  list-style-type: none;
  padding: 1rem;
}

nav > ul > li a {
  color: tomato;
  text-decoration: none;
}

nav > ul > li a:hover {
  text-decoration: underline;
  color: red;
}

nav > ul > li a:visited {
  color: tomato;
  text-decoration: none;
}

.layout-container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 50%;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
